<!DOCTYPE html>
<html lang="en">
    <!--Page head section-->
<%- include('layouts/header'); -%>

<body>

    <!--Page Header-->
    <%- include('layouts/navbar'); -%>

    <div class="spacer"> </div>

    <div class="intro" data-aos="slide-up" data-aos-duration="2000">
        <h1> Feeds for the mind... </h1>
        <p>  Unleash your imagination and let Damera be the canvas for your creative endeavors! </p>

    </div>

    <div class="post-container">
        <% for (var i = 0; i < blogposts.length; i++) { %> 
            
            <div class="post-preview" data-aos="slide-up" data-aos-duration="2000" >
                
                    <div>
                        <a href="/display/<%= blogposts[i]._id %>"><img src=" <%= blogposts[i].image %> " alt=""> </a>
                        <h2 class="post-title"><%= blogposts[i].title %></h2> 
                    </div>
                    <div>
                        

                        
                    <span> By:  <%=blogposts[i].userid.username %> 
                        - <%=blogposts[i].datePosted.toDateString() %>
                    </span>
                    
                   
                    <br><br><br>
                    
                    <p><a href="/display/<%= blogposts[i]._id %>">Read Post</a></p>
        
                    </div>
                    
            </div>

        <% } %> 
    </div>
    
    

    
    

    <div class="spacer2"> 

    <!--Page footer-->
    <%- include('layouts/footer'); -%>

    <!--Page Scripts-->
    <%- include('layouts/scripts'); -%>
    </div>

    
</body>
</html>