<!DOCTYPE html>
<html lang="en">
    <!--Page head section-->
<%- include('layouts/header'); -%>

<body>

    <!--Page Header-->
    <%- include('layouts/navbar'); -%>

    <div class="spacer"> </div>

    <div class="contribute">
        <a href="/auth/login"> Contribute  </a>
    </div>

    <div class="intro">
        <h1> Feeds for the mind... </h1>
        <p>  Unleash your imagination and let Damera be the canvas for your creative endeavors! </p>

    </div>

    

    <% for (var i = 0; i < blogposts.length; i++) { %> 
        
        <div class="post-preview">
            <div>
                <img src=" <%= blogposts[i].image %> " alt=""> <br>
            <span> By:  <%=blogposts[i].userid.username %> 
                - <%=blogposts[i].datePosted.toDateString() %>
            </span>

            </div>
            <div>
                <h2 class="post-title"><%= blogposts[i].title %></h2> 
            <p class="post-subtitle"><%- blogposts[i].body %></p>

            </div>

        </div>

    <% } %> 

    

    
    

    <div class="spacer2"> 

    <!--Page footer-->
    <%- include('layouts/footer'); -%>

    <p class="copy"> Damera Creatives &copy; 2022 &nbsp;&nbsp; Website by Dagmawi Megra </p>
    <!--Page Scripts-->
    <%- include('layouts/scripts'); -%>
    </div>

    
</body>
</html>