<!DOCTYPE html>
<html lang="en">
    <!--Page head section-->
<%- include('layouts/header'); -%>

<body>

    <!--Page Header-->
    <%- include('layouts/navbar'); -%>

    <% if(loggedIn) { %> 
        <div class="blogIntro">
            <h2> UNLEASH YOUR IMAGINATION </h2>
            <div class="contribute" data-aos="slide-up" data-aos-duration="2000">
                <a href="/posts/new"> Start Writing  </a>
            </div>
    
        </div>
       <% } 
    %>

    <div class="recentHeader">
        <h3>Recent Posts</h3>
    </div>
    
    <div class="post-container">
        <% for (var i = 0; i < blogposts.length; i++) { %> 
            <a href="/display/<%= blogposts[i]._id %>">
                <div class="post-preview" data-aos="zoom-in" data-aos-duration="2000" >
                    
                        <div>
                            <img src="/img/book.WebP" alt="Image of a book">
                            
                            <h2 class="post-title"><%= blogposts[i].title %></h2> 
                            <p> By :&nbsp; <%=blogposts[i].userid.username %> 
                                - <%=blogposts[i].datePosted.toDateString() %>
                            </p>
                        </div>
                        <div>
                            

                            
                            
                            
                        
                            
            
                        </div>
                        
                </div>
            </a>

        <% } %> 
    </div>
    
    
    
    

    
    

    <div class="spacer2"> 

        <!--Page footer-->
        <%- include('layouts/footer'); -%>

        <!--Page Scripts-->
        <%- include('layouts/scripts'); -%>
    </div>

    
</body>
</html>