<!DOCTYPE html>
<html lang="en">
     <!--Page head section-->
    <%- include('layouts/header'); -%>
<body>
    
    
    <div class="display-header" style="background: url('<%= blogpost.image %>') fixed top; background-size: 100vh">
        <div class="nav">
            <div class="logo">
                <a href="/"><img src="../img/TransparentDameraLogo.png" alt="logo"></a>
                <a href="/">DAMERA <span class="creatives">CREATIVES</span></a> 
            </div>
            <div class="link">
                <a href="/">HOME</a>
                <% if(loggedIn) { %> 
                     <a href="/auth/logout"> LOG OUT </a>
                    <% } 
                %>
            </div>
        </div>
        <div class="display-header sub">
            <h1 class="post-title"><%= blogpost.title %></h1>
            <span> By:  <%=blogpost.userid.username %> 
                <%=blogpost.datePosted.toDateString() %>
           </span> 
        </div>
        
    </div>
    
    <div class="post-body">
        <div>
            <p><%- blogpost.body %></p>
        </div>
        
    </div>
   
    <div class="spacer2"> 

    <!--Page footer-->
    <%- include('layouts/footer'); -%>


    <%- include('layouts/scripts'); -%>
</body>
</html>