<!DOCTYPE html>
<html lang="en">
     <!--Page head section-->
    <%- include('layouts/header'); -%>
<body>
    <div class="display-header" style="background: url('<%= blogpost.image %>'); background-size: cover;">
        <div class="display-header sub">
            <h1 class="post-title"><%= blogpost.title %></h1>
            <span> By:  <%=blogpost.userid.username %> 
                <%=blogpost.datePosted.toDateString() %>
           </span> 
        </div>
        
    </div>
    
    
    <p class="post-subtitle"><%- blogpost.body %></p>
    

    <%- include('layouts/scripts'); -%>
</body>
</html>