<!DOCTYPE html>
<html lang="en">
    <!--Page head section-->
<%- include('layouts/header'); -%>

<body>
    
    <!--Page Header-->
    <%- include('layouts/navbar'); -%>
   

    <div class="spacer"> </div>
    
    
    <div class="intro" data-aos="slide-up" data-aos-duration="2000">
        <h1> SIGN UP </h1>

    </div>

    <div class="formPart">

        <% if(errors != null && errors.length > 0) { %>  

            <ul class="error_disp">
                <% for (var i = 0; i < errors.length; i++){ %> 
                    <li> <%= errors[i] %> </li>
                    <%} %>
            </ul>
    
    
            <%} 
            
        %> 
        
        
    </div>
    
    
    <form action="/users/register" class="form" id="form" method="POST" enctype="multipart/form-data" >

        <div class="formPart">
            <label for="name"> Name </label> <br>
            <input type="text" name="name" class="inpt" id="name" value="<%=name %>" placeholder="Enter your name">
            <span>*</span>
        </div>
        <div class="formPart">
            <label for="username"> Username </label> <br>
            <input type="text" name="username" class="inpt" id="username" value="<%=username %>" placeholder="Create a username">
            <span>*</span>
        </div>

        <div class="formPart">
            <label for="password">Password</label> <br>
            <input name="password" class="inpt" id="password" value="<%=password %>" placeholder="Create a password">
            <span>*</span>
        </div>

        <div class="formPart">
            <button  id="submit" type="submit" class="btn"> SIGN UP </button>
        </div>

        <div class="formPart">
            <div id="response">

            </div>

        </div>

    </form>

    
    <div class="spacer2"> 
        <!--Page footer-->
    <%- include('layouts/footer'); -%>

    </div>

    <!--Page Scripts-->
    <%- include('layouts/scripts'); -%>



    

</body>
</html>