<!DOCTYPE html>
<html lang="en">
    <!--Page head section-->
<%- include('layouts/header'); -%>

<body>
    
    <!--Page Header-->
    <%- include('layouts/navbar'); -%>
   

    <div class="spacer"> </div>
    
    <div class="formWrapper" data-aos="slide-right" data-aos-duration="1000">
        <div class="item1">
            <div class="formHead">
                <h1> SIGN UP </h1>
            </div>
            <% if(errors != null && errors.length > 0) { %>  
                <div class="error_display">
                    <p> Username taken. Try a different one! </p>
                </div>
                
                <%} 
                
            %> 
            <form action="/users/register" class="form" id="form" method="POST" enctype="multipart/form-data" >

                <div class="formPart">
                    <label for="username"> Username </label> <br>
                    <input type="text" name="username" class="userInpt" id="username" value="<%=username %>" placeholder="Create a username" required>
                    
                </div>
        
                <div class="formPart">
                    <label for="password">Password</label> <br>
                    <input type="password" name="password" class="userInpt" id="password" value="<%=password %>" placeholder="Create a password" required>
                    <span id="togglePassword" onclick="togglepass()"> <i class="fas fa-eye-slash"></i></span>
                    
                </div>
        
                <div class="formPart">
                    <button  id="submit" type="submit" class="userBtn"> SIGNUP </button>
                </div>
                
            </form>
        </div>
        <div class="item2">
            <img src="/img/rasta.WebP" alt="illustration of people working">

        </div>

    </div>
    
   

    
    
    
    
    
    <div class="spacer2"> 
        <!--Page footer-->
    <%- include('layouts/footer'); -%>

        <!--Page Scripts-->
     <%- include('layouts/scripts'); -%>

   

    </div>


</body>
</html>